@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Thai&display=swap");

/* .map-container {
  height: 100vh;
  width: 100%;
} */
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
}
.bottombar {
  background-color: #283238;
  color: #fff;
  padding: 5px 12px;
  /* font-family: monospace; */
  z-index: 1;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  /* left: 25%; */
  margin: 15px;
  /* border-radius: 8px; */
  font-family: "Noto Sans Thai", sans-serif;
  /* color: #9e9e9e; */
}

.sidebar {
  position: absolute;
  margin: 10px 20px 30px 10px;
  width: 20%;
  height: 85%;
  top: 50px;
  bottom: 0;
  padding: 20px;
  background-color: #283238;
  overflow-y: scroll;
}
/*removing directions panel*/
/* .mapbox-directions-instructions {
  display: none;
} */

/* .directions-control.directions-control-instructions {
  width: 100%;
  font-family: "Noto Sans Thai", sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
} */
/* .card {
  font-family: "Noto Sans Thai", sans-serif;
  color: #9e9e9e;
  border-bottom: solid #d3d3d3 2px;
  margin-bottom: 6px;
}

.card-header {
  font-weight: bold;
  padding: 6px;
} */

/* .no-route {
  background-color: #d3d3d3;
  color: #f00;
}

.obstacle-found {
  background-color: #f00;
  color: #fff;
}

.route-found {
  background-color: #33a532;
  color: #fff;
}

.card-details {
  padding: 3px 6px;
} */

.sidebar h1 {
  font-family: "Noto Sans Thai", sans-serif;
  margin-top: 100px;
  font-size: 40px;
  color: #9e9e9e;
  text-align: center;
}
/* .sidebar h3 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  color: #ffffff;
} */
.sidebar h3 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
.sidebar h2 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  color: #9e9e9e;
}
.title {
  /* border-radius: 8px; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 27px;
  padding-top: 0px;
  color: #10b981;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.warning {
  font-family: "Noto Sans Thai", sans-serif;
  font-style: normal;
  font-size: 27px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 0px;
  color: #fa2d2d;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

/* .geocoder {
  height: 100px;
  width: 150px;
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: left;
  font-family: "Noto Sans Thai", sans-serif;
  margin: 0;
  font-size: 13px;
} */

/* .mapboxgl-ctrl-geolocate {
} */

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  font-family: "Noto Sans Thai", sans-serif;
  top: 0px;
  width: 97%;
  /* right: 360px; */
  position: absolute;
}

.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: transparent; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  align-self: center;
  /* position: absolute; */
  height: 30%;
  width: 500px;
}
.mapboxgl-popup-content h2 {
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: transparent; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  /* position: absolute; */
  height: 30%;
  width: 400px;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: "Noto Sans Thai", sans-serif;
}
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 10px;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Noto Sans Thai", sans-serif;
}

#menu a {
  font-size: 17px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #000000;
  color: #ffffff;
}

#menu a.active:hover {
  background: #b883a2;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: absolute;
  margin: 10px 20px 30px 10px;
  width: 110%;
}
/* Add a black background color to the top navigation */
.topnav {
  /* top: 0; */
  overflow: hidden;
  /* margin: 0px 0px 30px 10px; */
  left: 10;
  width: 22%;
  bottom: 0;
  /* padding: 20px; */
  background-color: #283238;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Noto Sans Thai", sans-serif;
}

.topnav h2 {
  float: left;
  color: #f2f2f2;
  /* padding: 10px 10px; */
  text-decoration: none;
  font-size: 17px;
  font-family: "Noto Sans Thai", sans-serif;
  position: relative;
  left: 70px;
}
/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04aa6d;
  color: white;
} */
.topnav img {
  align-items: flex-start;
  /* margin-top: 15; */
  left: 7;
  top: 10;
  width: 65px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0px;
  position: absolute;
}

#mapbox-directions-origin-input {
  background-color: white;
}
#mapbox-directions-destination-input {
  background-color: white;
}
