@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Thai&display=swap");

.auto-search {
  position: relative;
  z-index: 1;
  top: 5px;
  right: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  font-family: "Noto Sans Thai", sans-serif;
}

.auto-search input {
  width: 272px !important;
  border-radius: 15px;
  font-family: "Noto Sans Thai", sans-serif;
}

.auto-search input[type="text"] {
  width: 272px !important;
  border-radius: 15px;
  font-family: "Noto Sans Thai", sans-serif;
}

.mapboxgl-ctrl-directions {
  margin-top: 80px !important;
}

.mapboxgl-ctrl-geocoder {
  max-width: auto !important;
  width: auto !important;
}

/* .map-container {
  height: 100vh;
  width: 100%;
} */
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
}
.bottombar {
  background-color: #283238;
  color: #fff;
  padding: 2px 5px;
  /* font-family: monospace; */
  z-index: 1;
  /* justify-content: flex-end; */
  position: absolute;
  bottom: 0px;
  /* left: 25%; */
  margin: 10px 10px 20px 10px;
  /* border-radius: 8px; */
  font-family: "Noto Sans Thai", sans-serif;
  color: #9e9e9e;
}
.bottombar_mgrs {
  background-color: #283238;
  color: #fff;
  padding: 2px 5px;
  /* font-family: monospace; */
  z-index: 1;
  /* justify-content: flex-end; */
  position: absolute;
  bottom: 0px;
  /* left: 25%; */
  margin: 10px 10px 60px 10px;
  /* border-radius: 8px; */
  font-family: "Noto Sans Thai", sans-serif;
  color: #9e9e9e;
}
.sidebar {
  position: absolute;
  margin: 10px 20px 30px 10px;
  width: 20%;
  height: 80%;
  top: 25px;
  bottom: 0;
  padding: 20px;
  background-color: #283238;
  overflow-y: scroll;
}

.sidebar h1 {
  font-family: "Noto Sans Thai", sans-serif;
  margin-top: 20px;
  font-size: 40px;
  color: #9e9e9e;
  text-align: center;
}

.sidebar h3 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
.sidebar h2 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  color: #9e9e9e;
}
.title {
  /* border-radius: 8px; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 27px;
  padding-top: 0px;
  color: #10b981;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.warning {
  font-family: "Noto Sans Thai", sans-serif;
  font-style: normal;
  font-size: 27px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 0px;
  color: #fa2d2d;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: transparent; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  align-self: center;
  /* position: absolute; */
  /* height: 30%;
  width: 300px; */
}
.mapboxgl-popup-content p {
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* background-color: transparent; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 17px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.mapboxgl-popup-content h2 {
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* background-color: transparent; */
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* align-self: center; */
  /* position: absolute; */
  height: 30%;
  width: 250px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: relative;
  width: 95%;
}

.mapboxgl-ctrl-layers-control__title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
}
.mapboxgl-ctrl-layers-control__group-container label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
.mapboxgl-ctrl-layers-control__layer-container {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  padding: 5px;
}

.mapboxgl-ctrl-layers-control {
  width: 300px;
}
